.projectCard {
  background-color: rgba(88, 170, 175, 1);
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

  margin: 20px;
}

.cardTopImage {
  padding: 20px;
}
.cardTitle {
  color: black;
}
.cardText {
  color: black;
}
.techRow {
  align-items: center;
  justify-content: start;
}
.techImg {
  padding: 5px;
}
.selectorImg {
  margin: 5px;
}

.linkImage {
  padding-top: 13px;
  padding-left: 18px;
}

