.articleCard{
    height: 300px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: rgba(88, 170, 175, 1);

}
.articleLink{
    color:black !important;
}

@media (max-width: 768px) {
.articleCard{
    margin-bottom: 10px;
  
    
}

}